<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加晚餐</title>
    <script src="../static/myJavascript.js"></script>
    <script src="../static/jquery-3.6.0.js"></script>
</head>
<body>
<h1>insert dinner</h1>
<tr>
    <form action="" id="inputForm">
        晚餐名稱
        <input type="Text" name="addData" id="inputBox" value=""><br>
    </form>
    開店星期
    <td>
        [一]<input type="checkbox" id="mon">
        [二]<input type="checkbox" id="thes">
        [三]<input type="checkbox" id="wed">
        [四]<input type="checkbox" id="thr">
        [五]<input type="checkbox" id="fri">
        [六]<input type="checkbox" id="sat">
        [日]<input type="checkbox" id="sun">
    </td>

    <div id="Result"></div>
</tr>
<tr>
    <button id="Insert">確認新增</button>
    <button onclick=location.href='/'>返回主頁</button>
</tr>
<script>
    $(function () {
        const $btn = $('#Insert');
        $btn.off("click").on("click", function () {
            const $herf = "/" + ($(' #inputForm').serialize());
            if ($herf !== "/addData=") {
                Insert($herf);
            } else {
                alert("輸入框內無內容，請確認後再次點擊”確認添加“");
            }
        });
    });
</script>
</body>
</html>